@keyframes onShowAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes onHideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}