$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-orange-color: #ff6b08;
$small-buttons-color: #f1f1f1;

$background-blue-color: #102136;
$background-blue-opacity-color: #1021364d;
$background-shadow: 0px 8px 43px 0px #10213696;
$background-linear-gradient: linear-gradient(#f5f5f500, #0a0505b3);

$primary-font-family: 'Lato', 'Open Sans', sans-serif;
$primary-font-size: 18px;
$secondary-font-size: 14px;
$temperature-font-size: 25px;
$title-font-size: 90px;
$primary-line-height: 22px;

$primary-transition: all 200ms ease-in-out;

$full-opacity: 1;
$half-opacity: 0.541;
$light-opacity: 0.2;
