.chart {
  display: none;
  animation: onShowAnimation 500ms;
}

.chart_enabled {
  display: block;
}

.chart_enabled-schedule {
  padding-bottom: 35px;
  @media screen and (min-width: 768px) {
    padding-bottom: 90px;
  }
}

.chart__show,
.chart__hide {
  display: none;
  @extend %button;
  background: transparent;
  margin: 0 auto;
  @include center-flex(ver);
  .material-icons {
    font-size: 20px;
    color: $primary-white-color;
    width: 27px;
    line-height: 27px;
    border-radius: 50%;
    background: rgba($small-buttons-color, $light-opacity);
  }
}

.chart__show-enabled {
  display: block;
}

.chart__action {
  font: 400 15px/22px $primary-font-family;
  color: $primary-orange-color;
  text-decoration: underline;
  padding: 0 10px 0 0;
}

.chart__wrapper {
  padding: 20px 30px;
}

.chart-bg-is-active {
  border-radius: 35px;
  box-shadow: $background-shadow;
  background: rgba($background-blue-color, 0.8);
}

.schedule__wrapper {
  display: none;
}

.schedule__wrapper-enabled {
  display: block;
  animation: onShowAnimation 500ms;
}
