.citation {
  font-family: $primary-font-family;
  text-align: end;
  padding-bottom: 53px;
  animation: onShowAnimation 500ms;

  @media screen and (min-width: 768px) {
    padding-bottom: 67px;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 110px;
    padding-bottom: 20;
    min-height: 180px;
  }

  &__wrapp {
    width: 206px;
    padding-top: 10px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
      width: 374px;
      padding-top: 20px;
      margin-right: 74px;
    }
    @media screen and (min-width: 1280px) {
      width: 430px;
      margin-right: 0;
    }
  }
  &__text {
    font-style: Italic;
    font-size: $secondary-font-size;
    line-height: 21px;
    padding-bottom: 8px;
    position: relative;

    &:before {
      content: '\201D';
      font-family: 'Arial';
      font-size: 90px;
      opacity: $light-opacity;
      font-style: normal;
      position: absolute;
      right: -4px;
      top: 13px;
      @media screen and (min-width: 768px) {
        font-size: 195px;
        right: -10px;
        top: 36px;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 32px;
      padding-bottom: 18px;
    }
  }
  &__author {
    font-size: $primary-font-size;
    line-height: 32px;
  }
}

.citation-disabled {
  display: none;
}
