.forecast__five-days {
  display: none;
  position: relative;
  text-align: center;
  border-radius: 35px;
  background-color: rgba($background-blue-color, 0.8);
  box-shadow: $background-shadow;
  padding-top: 30px;
  padding-bottom: 24px;
  animation: onShowAnimation 500ms;

  @media screen and (min-width: 768px) {
    padding-top: 46px;
    padding-bottom: 45px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 36px;
    padding-bottom: 30px;
  }
}

.forecast__five-days-enabled {
  display: block;
}

.five-days__city-name {
  @include letter-spacing(30);
  font-weight: 700;
  min-height: 22px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -57px;
    margin-bottom: 0;
    line-height: 28px;
  }

  @media screen and (min-width: 1280px) {
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
}

.five-days__list {
  @include letter-spacing(30);
  line-height: 12px;
  font-size: 12px;
  width: 246px;
  margin: 0 auto 10px auto;
  @media screen and (min-width: 768px) {
    width: 544px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 901px;
    font-size: 18px;
    line-height: 18px;
  }
}

.five-days__one-day-item {
  min-width: 65px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
}

.five-days__day-of-week {
  opacity: $half-opacity;
  margin-bottom: 14px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.five-days__date-and-month {
  @include letter-spacing(30);
  font-size: 16px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

.five-days__date-and-month span {
  display: inline-block;
}

.five-days__img-of-weather {
  margin: 0 auto 4px auto;

  @media screen and (min-width: 1280px) {
    margin-bottom: 34px;
  }
}

.five-days__temperature-info-list {
  list-style: none;
  display: inline-flex;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.five-days__temperature-info-item {
  text-align: left;

  &:first-child {
    padding-right: 6px;
    border-right: 1px solid rgba($primary-white-color, $light-opacity);

    @media screen and (min-width: 768px) {
      padding-right: 10px;
    }

    @media screen and (min-width: 1280px) {
      padding-right: 20px;
    }
  }

  &:last-child {
    padding-left: 6px;

    @media screen and (min-width: 768px) {
      padding-left: 10px;
    }

    @media screen and (min-width: 1280px) {
      padding-left: 20px;
    }
  }
}

.five-days__temperature-info-sign {
  opacity: $half-opacity;
  margin-bottom: 4px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}

.five-days__temperature-min,
.five-days__temperature-max {
  @include letter-spacing(30);
  font-size: 16px;
  line-height: 16px;
  color: rgba($primary-orange-color, 1);
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 25px;
    line-height: 25px;
  }
}

.five-days__more-info {
  display: block;
  color: rgba($primary-white-color, 0.302);
  &:focus {
    outline: none;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.five-days__more-info--active {
  color: rgba(255, 255, 255, 1);
}

.five-days__btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.five-days__prev-day-btn {
  margin-right: 32px;
}

.five-days__prev-day-btn,
.five-days__next-day-btn {
  @extend %button;
  background: none;
  .material-icons {
    font-size: 20px;
    color: $primary-white-color;
    width: 27px;
    line-height: 27px;
  }
}

.forecast__five-days .slick-list {
  border-radius: 10px;
}
