<div>
    <div>
        <div>
            <div class="favorites__item">
                <a href="{{this}}" class="favorites__link">{{this}}</a>
                <button type="button" class="favorites__remove">
                    <i class="material-icons" data-name="{{this}}">close</i>
                    <span class="visually-hidden">Remove from favorites</span>
                </button>
            </div>
        </div>
    </div>
</div>