<li class="favorites__item">
    <a href="{{this}}" class="favorites__link">{{this}}</a>
    <button type="button" class="favorites__remove">
        <i class="material-icons">close</i>
        <span class="visually-hidden">Remove from favorites</span>
    </button>
</li>