<h2 class="five-days__city-name">{{name}}<span class="five-days__country-name">{{country}}</span>
</h2>
<ul class="five-days__list"></ul>
<i class="material-icons five-days__prev-day-btn">navigate_before</i>
<i class="material-icons five-days__next-day-btn">navigate_next</i>