html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $primary-white-color;
  overflow-x: hidden;
  min-height: 100vh;
  background: $background-linear-gradient,
    url('./images/primary_bg.jpg') no-repeat center/cover fixed;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  display: inline-block;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 110px;
  }
}

// .search,
.current-weather,
.switch-days-btn,
.forecast,
.chart,
.five-days__more-information,
.citation {
  display: none !important;
}
