.chart__show, .chart__hide{
    display: none;
    @extend %button;
    background: transparent;    
    margin: 0 auto;
    @include center-flex(ver);
    .material-icons{
        font-size: 20px;
        color: $primary-white-color;
        width: 27px;
        line-height: 27px;
        border-radius: 50%;
        background: rgba($small-buttons-color, $light-opacity);
    }
}
.chart__show-enabled{
    display: flex;
}
.chart__action{
    font: 400 15px/22px $primary-font-family;
    color: $primary-orange-color;
    text-decoration: underline;
    padding: 0 10px 0 0;
}

.chart{
    .wrapper{
        padding: 30px;
        overflow-x: auto;
        @media screen and (max-width:767px) {
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 2px;
                background-color: rgba($primary-white-color,$light-opacity)
            }
            &::-webkit-scrollbar-thumb {
                background: $primary-orange-color; 
            }
        }   
    }
    
    
}

.chart__legend{
    // display: none;
}
.chart__legend-enabled{
    display: block;
}
.chart-bg-is-active{
    border-radius: 35px;
    box-shadow: $background-shadow;
    background: rgba($background-blue-color,.8);
}  
#schedule{
    @media screen and (max-width:767px) {
        width: 545px;
        height: 440px;
    }   
}