.chart__show{
    display: none;
    @extend %button;
    background: transparent;    
    margin: 0 auto;
    @include center-flex(ver);
    .material-icons{
        font-size: 20px;
        color: $primary-white-color;
        width: 27px;
        line-height: 27px;
        border-radius: 50%;
        background: rgba($small-buttons-color, $light-opacity);
    }
}
.chart__show-enabled{
    display: flex;
}
.chart__action{
    font: 400 15px/22px $primary-font-family;
    color: $primary-orange-color;
    text-decoration: underline;
    padding: 0 10px 0 0;
}
