.forecast__today {
  text-align: center;
  margin-bottom: 44px;
  padding-bottom: 36px;
  padding-top: 20px;
  border-radius: 35px;
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
  background-color: rgba($background-blue-color, 0.6);
}

.today__main-info {
  @include letter-spacing(30);
  font-size: 45px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 6px;
}

.today__date {
  margin-right: 14px;
}

.today__main-info sup {
  @include letter-spacing(30);
  font-size: 14px;
  top: -22px;
}

.today__day-of-the-week {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

.today__secondary-info {
  @include letter-spacing(30);
  font-size: 14px;
  line-height: 20px;
}

.today__secondary-info span {
  display: inline-block;
  width: 50%;

  &:first-child {
    text-align: right;
    position: relative;
    padding-right: 8px;

    &::after {
      position: absolute;
      display: block;
      content: '';
      height: 20px;
      width: 1px;
      background-color: rgba(231, 232, 235, 0.4);
      right: 0;
      bottom: 0;
    }
  }

  &:last-child {
    text-align: left;
    padding-left: 8px;
  }
}

.today__month-and-time {
  margin-bottom: 6px;
}

.today__month::first-letter {
  text-transform: uppercase;
}

.today__sun-img {
  display: inline-block;
  margin-right: 10px;
}
