.forecast__today {
  text-align: center;
  margin-bottom: 44px;
}

.today__main-info {
  @include letter-spacing(30);
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1.35px;
}

.today__main-info sup {
    @include letter-spacing(30);
  font-size: 22px;
}

.today__secondary-info {
  @include letter-spacing(30);
}
