.search{
  padding: 28px 0 48px;
  button{
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    padding: 62px 0 102px;
  }
  @media screen and (min-width: 1280px) {
    padding: 79px 0 91px;
  }
}

.search__form{
  position: relative;
  margin-bottom: 13px;
  &::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    background: url(./images/sprite.svg#icon-location-searching) no-repeat;
  }
  @media screen and (min-width: 768px) {
    width: 83%;
    margin: 0 auto 13px;
  }
  @media screen and (min-width: 1280px) {
    width: 48%;
  }
}

.form__input{
  width: 100%;
  padding: 0 48px 0 59px;
  font: 400 14px/48px $primary-font-family;
  background-color: $primary-white-color;
  border: none;
  border-radius: 24px;
  &::placeholder{
    color: $primary-black-color;
  }
  &:focus{
    outline: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.form__add-to-favorites{
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: url(./images/sprite.svg#icon-star) no-repeat;
  transition: $primary-transition;
  &:hover{
    background: url(./images/sprite.svg#icon-star) no-repeat,$small-buttons-color;
  }
  @media screen and (min-width: 768px) {
    right: 25px;
  }
}

.search__favorites{
  display: flex;
  @media screen and (min-width: 768px) {
    width: 83%;
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    width: 48%;
  }
}

.favorites__list{
  display: flex;
  width: calc(100% - 27px);
  list-style-type: none;
  overflow: hidden;
  padding-left: 24px;
  @media screen and (min-width: 768px) {
    width: calc(87% - 27px);
    padding-left: 25px;
  }
}

.favorites__item{
  display: flex;
  @include center-flex(ver);
  background-color: rgba($primary-black-color,.4);
  border-radius: 14px;
  padding: 0 11px 0 13px;
  &:not(:last-child){
    margin-right: 10px;
  }
}

.favorites__link{
  font: 400 12px/27px $primary-font-family;
  color: $primary-white-color;
  padding-right: 23px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-right: 7px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 10px;
  }
}

.favorites__remove{
  width: 12px;
  height: 12px;
  background: url(./images/sprite.svg#icon-close) no-repeat;
  border: none;
}

.favorites__arrow-left{
  padding: 0;
  width: 27px;
  height: 27px;
  border: none;
  background: url(./images/sprite.svg#icon-star) no-repeat, rgba($small-buttons-color,.2);
  border-radius: 50%;
}
